		 
			 
			 <div class="au_con">
				 <div class="faq_con">
					<div class="faq_lft">
						<div class="faq_txt">
							<h5>Frequently Asked Questions</h5>
							Here are some frequently asked questions.
						</div>
						
						<div class="faq_hd">
							General Questions<br>
							
							
	
							<div><div class="open">How is video better than other forms of media?</div>
							<div class="hide_part">The facts speak for themselves. Consumer confidence doubles after being show a video. That is why 90% of shoppers used video to make a buying decision. Furthermore, 1.2 billion videos are watched every day in the US alone. This number is expected to double by 2016.
</div></div>
							
							<div class="open">Who can join Filmzu?</div>
							<div class="hide_part">Filmzu was created to serve all Clients, crew and Creatives involved with video production. If you are associated with a production company, you can use Filmzu to find crew and talent. Creatives and crew members can also easily find work.
</div>
							
							<div class="open">What is Filmzu Pro?</div>
							<div class="hide_part">Regardless of whether you are a Free or Pro user, you will have access to all the core functions of FIlmzu. However, Pro membership offers some additional benefits. As a Pro user your projects and proposals will appear higher in search results. Additionally, you will be able to directly message other Pro users. Creatives and crew will also be able to apply to 50 projects per month instead of 30. For more information on Filmzu Pro and how to upgrade, please visit this page.
</div>
							
							<div class="open">How much does Filmzu cost?</div>
							<div class="hide_part">askd asasd</div>
							
						
							
							
							
						</div>
						
						
						
						<div class="faq_hd">
							Projects &amp; People<br>
							
							<div class="open">How do I post my project on Filmzu?</div>
							<div class="hide_part">Listing a project on FIlmzu is easy. Simply navigate to our homepage and follow our step-by-step guide.
</div>
							
							<div class="open">How are my ideas protected?</div>
							<div class="hide_part">Filmzu is designed to provide complete Intellectual Property Protection. Before you hire anyone, you have the ability to attach your own Non-Disclosure Agreement with the job post. Furthermore, the FIlmzu Terms of Service ensures fundamental policy and performance compliance before and after a job is awarded.
</div>
							
							<div class="open">How can I monitor the progress of my project(s)?</div>
							<div class="hide_part">After posting your project on the site, you will start to receive proposals in your inbox. You can sort, rank and select these proposals using some of our many search filters. Once, you decide on a proposal and accept it, you and the Creative will begin to establish the Terms & Milestones for the project.
</div>
							
							<div class="open">How do I select and hire a Creative?</div>
							<div class="hide_part">askd asasd</div>
							
							<div class="open">What should I do if I have a proble with the Creative I hired?</div>
							<div class="hide_part">askd asasd</div>
							
							<div class="open">What is Member Resolution?</div>
							<div class="hide_part">askd asasd</div>
							
							<div class="open">Why and when should I leave feedback?</div>
							<div class="hide_part">askd asasd</div>
							
							
						</div>
						
						


						<div class="faq_hd">
							Terms &amp;Milestones<br>
							
							<div class="open">What is a Daily Rate and how does it differ from a Bundled Price?</div>
							<div class="hide_part">askd asasd</div>
							
							<div class="open">What are Milestones?</div>
							<div class="hide_part">askd asasd</div>
							
							
						</div>
						
						
						<div class="faq_hd" style="border-bottom:none;">
							Payments<br>
							
							
							<div class="open">What are my Financial Accounts?</div>
							<div class="hide_part">askd asasd</div>
							
							
							<div class="open">When is money pulled from one of my funding sources?</div>
							<div class="hide_part">askd asasd</div>
							
							
							<div class="open">How is my money protected?</div>
							<div class="hide_part">askd asasd</div>
							
							
							
						</div>


						
					</div>
					
					
					<div class="faq_rgh">
					Need help?
					
					<ul>
						<li><a href="#"> <%= image_tag("chat_icon_1.gif", alt: "") %> Live Chat</a></li>
						<li><a href="#"><%= image_tag("chat_icon_2.gif", alt: "") %> Email</a></li>
						<li><a href="#"><%= image_tag("chat_icon_3.gif", alt: "") %> 1-877-4- Filmzu</a></li>
					</ul>
						   
					</div>
					
					
				</div>
				
				
				<div class="post_job_con">
					<div class="post_job_btn"><a href="#">Post your job now, it's free.</a></div>
				</div>
				
				
					
			 </div>
			 
			 

	        
	        <!-- #content -->
