	 
			<div class="bl_outer">
			 <div class="au_con">
				 <div class="oppo_con">
					<h5>Opportunities at filmmo</h5>
					<div class="oppo_con_in">
					
					<%= image_tag('client-img.jpg', alt: "") %>
					
						The team at filmmo are enthusiastic, hard-working and love seeing filmmakers succeed. We are a team of problem-solvers, dreamers, tech-heads, and are passionate about <a href="#">our company.</a><br><br>

If you share our passion and are motivated to solve the real problems which many talented film professionals lives then you may be a great fit here with the filmmo team.<br><br>

If you are interesting in getting in touch with us, or you're looking for an internship, employment or becoming a partner then we encourage you to contact us through the <a href="#">contact page.</a>				   </div>
				</div>
				
			 </div>
			 </div>
			 
			 
	        <!-- #content -->