		 
			 <div class="au_con">
				 <div class="faq_con">
					<div class="faq_lft">
						<div class="faq_txt">
							<h5>Terms of Service</h5>
							The documents below are collectively reffered to as the "Terms of Services".<br> Usage of thie website constitutes acknolwedgement and acceptance of the Terms of Services.
						</div>
						
						<div class="faq_hd">
							All Site Visitors<br>
							<ul>
								<li><a href="#">User Agreement</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Cookie Policy</a></li>
							</ul>
						</div>
						
						<div class="faq_hd">
						Agreements for Site Users<br>
							<ul>
								<li><a href="#">Account Agreement</a></li>
								<li><a href="#">Independent Contractor Services Agreement</a></li>
								<li><a href="#">Day Rate Payment Agreement</a></li>
								<li><a href="#">Fixed Price Escrow Instructions</a></li>
							</ul>
						</div>
						
						<div class="faq_hd">
							Policies<br>
							<ul>
								<li><a href="#">Site Usage Policy</a></li>
								<li><a href="#">Client Job Posting</a></li>
								<li><a href="#">Freelance Memberships Proposals and Fufillement Policy</a></li>
								<li><a href="#">Refund and Cencellation Policy</a></li>
								<li><a href="#">Fixed Price Dispute Resolution Policy</a></li>
								<li><a href="#">Day Rate Dispute Resolution Policy</a></li>
							</ul>
						</div>
						
						
						
						
						
						


						
					</div>
					
					
					<div class="faq_rgh">
					Need help?
					
					<ul>
						<li><a href="#"> <%= image_tag("chat_icon_1.gif", alt: "") %> Live Chat</a></li>
						<li><a href="#"><%= image_tag("chat_icon_2.gif", alt: "") %> Email</a></li>
						<li><a href="#"><%= image_tag("chat_icon_3.gif", alt: "") %> 1-877-4- Filmzu</a></li>
					</ul>
						   
					</div>
					
					
				</div>
				
				
				<div class="post_job_con">
					<div class="post_job_btn"><a href="#">Post your job now, it's free.</a></div>
				</div>
				
				
					
			 </div>
			 
			 

	        
	        <!-- #content -->